@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');

*{
    font-family: Outfit;
}

select, input, textarea{
    border: 1px solid #e0e1dd;
    outline-color: #778DA9;
    border-radius: 4px;
}

.active{
    background-color: #778DA9;
    border-color: #415A77;
}
