@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');

*{
    font-family: Outfit;
}

.active{
    background-color: #ffebf5;
    border-color: #c586A5;
}
